<div style="border: 1px solid #dddd; padding: 20px 50px; border-radius: 5px">
  <h4 style="text-align: center; margin-bottom: 10px">Login</h4>
  <div *ngIf="error" style="color: red; text-align: center; margin-top: 5">
    {{ error }}
  </div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="username">Username: </label>
      <input
        class="form-control"
        id="username"
        type="text"
        formControlName="username"
        [class.item-error]="usernameError.isError"
      />
      <div class="mt-1" style="color: red" *ngIf="usernameError.isRequired">
        username is required !
      </div>
    </div>
    <div class="mb-3">
      <label style="margin: 0px" for="password">Password: </label>
      <input
        id="password"
        class="form-control"
        type="password"
        name="password"
        formControlName="password"
        [class.item-error]="passwordError.isError"
      />

      <div class="mt-1" style="color: red" *ngIf="passwordError.isRequired">
        Password is required !
      </div>
    </div>
    <div style="text-align: right">
      <button
        type="submit"
        [disabled]="!profileForm.valid"
        class="btn btn-primary mb-3"
      >
        Submit
      </button>
    </div>
  </form>
  <div class="g-signin2" data-onsuccess="onSignIn">
    <button (click)="onSignIn()">Đăng nhập Google</button>
  </div>
</div>
